<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="MessageInspectorBehavior" type="Gis.Crypto.MessageInspectorBehaviorElement, Gis" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="clientCertificateConf">
					<clientCredentials>
						<!-- в блоке findValue указывается серийный ключ сертификата -->
						<clientCertificate findValue="01f216d45e6aaa6faeea110694649ab4f9" storeLocation="CurrentUser" x509FindType="FindBySerialNumber" />
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
					<MessageInspectorBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpUserNameEndpoint" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800">
					<readerQuotas maxStringContentLength="2147483647" />
					<security>
						<message clientCredentialType="UserName" negotiateServiceCredential="false" algorithmSuite="BasicGost2012_256" />
					</security>
				</binding>
				<binding name="wsHttpCertificateEndpoint" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800">
					<readerQuotas maxStringContentLength="2147483647" />
					<security>
						<message clientCredentialType="Certificate" negotiateServiceCredential="false" algorithmSuite="BasicGost2012_256" />
					</security>
				</binding>
				<binding name="wsHttpUserNameEndpoint1">
					<security>
						<message clientCredentialType="UserName" negotiateServiceCredential="false" algorithmSuite="BasicGost2012_256" />
					</security>
				</binding>
				<binding name="wsHttpCertificateEndpoint1">
					<security>
						<message clientCredentialType="Certificate" negotiateServiceCredential="false" algorithmSuite="BasicGost2012_256" />
					</security>
				</binding>
			</wsHttpBinding>
			<customBinding>
				<binding>					
					<textMessageEncoding messageVersion="Soap11">
						<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpsTransport authenticationScheme="Basic" useDefaultWebProxy="false" requireClientCertificate="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://api.dom.gosuslugi.ru/ext-bus-nsi-common-service/services/NsiCommonAsync" binding="customBinding" behaviorConfiguration="clientCertificateConf" 
					  contract="Gis.Infrastructure.NsiCommonService.NsiPortsType" name="NsiCommonPort" />
		</client>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
